@{
    ViewBag.Title = "Home Page";
}

@if(ViewBag.path != null){
    <div>ViewBag.path</div>
}

@if (ViewBag.Exception != null)
{
    <div>ViewBag.Exception</div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Hello World!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="~/Item/Index">
                <input type="button" id="additem" name="additem" class="btn btn-primary btn-md" value="Add Item" />
            </a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <tr>
                <th>Item Name</th>
                <th>Description</th>
                <th>Total Qty.</th>
                <th>Qty in Office</th>
                <th>Qty in Laguna</th>
            </tr>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.ItemName</td>
                    <td>@item.Description</td>
                    <td>@item.TotalQuantity</td>
                    <td>@item.OfficeQuantity</td>
                    <td>@item.HouseQuantity</td>
                </tr>
            }
        </table>

    </div>


    @foreach (var item in @Model)
    {
        <div class="row item-container">

            <div class="col-md-5 col-lg-5 col-sm-5">
                <img class="img-fluid" src="@item.ImageUrl" />
            </div>
            <div class="col-md-7 col-lg-7 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @item.ItemName
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @item.Description
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @item.TotalQuantity
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @item.OfficeQuantity
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        @item.HouseQuantity
                    </div>
                </div>
            </div>

        </div>
    }
</div>

