@model IEnumerable<NegoShoePH.Data.Item>

@{
    ViewBag.Title = "Items";
}

<h2>Index</h2>

<p><a href="~/Item/Create">
    <input type="button" id="additem" name="additem" class="btn btn-primary btn-md" value="Add Item" />
</a>
</p>
<div class="container-fluid">
    <div class="row">
        <table class="table table-bordered table-striped table-responsive table-sm">
            <tr>
                <th>Item Name</th>
                <th>Description</th>
                <th>Total Qty.</th>
                <th>Qty in Office</th>
                <th>Qty in Laguna</th>
            </tr>
            @if (@Model != null) { 
                foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.ItemName</td>
                        <td>@item.Description</td>
                        <td>@item.TotalQuantity</td>
                        <td>@item.OfficeQuantity</td>
                        <td>@item.HouseQuantity</td>
                    </tr>
                }
            }             
        </table>

    </div>

    @if (Model != null) { 
        foreach (var item in @Model)
        {
            <div class="row item-container">

                <div class="col-md-5 col-lg-5 col-sm-5">
                    <img alt="Embedded Image" class="img-thumbnail" src="data:image/jpg;base64,@item.ImageBase64" />
                </div>
                <div class="col-md-7 col-lg-7 hidden-sm-down">
                    <table class="table table-responsive table-sm">
                        <tr>
                            <td>Name : </td>
                            <td>@item.ItemName</td>
                        </tr>
                        <tr>
                            <td>Description : </td>
                            <td>@item.Description</td>
                        </tr>
                        <tr>
                            <td>Total Quantity : </td>
                            <td>@item.TotalQuantity</td>
                        </tr>
                        <tr>
                            <td>Quantity in Office : </td>
                            <td>@item.OfficeQuantity</td>
                        </tr>
                        <tr>
                            <td>Quantity in Laguna : </td>
                            <td>@item.HouseQuantity</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }, new { @class = "btn btn-sm btn-primary" }) 
                                @Html.ActionLink("Delete", "Delete", new { id = item.RecordID }, new { @class = "btn btn-sm btn-danger" })
                               <!-- @Html.ActionLink("Details", "Details", new { id = item.RecordID }) |-->
                            
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-7 hidden-md-up">Small View</div>
            </div>
        }
    }
</div>

