@model NegoshoeInventory.Web.Mvc.Models.IndexItemViewModel

@{
    ViewBag.Title = "Items";
}
@using (Html.BeginForm("Search", "Item", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<br />
<div class="row">
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.ProductTypeID, Model.ProductType, new { @class = "form-control input-lg input-md input-sm input-xs" })
                @Html.ValidationMessageFor(model => model.ProductTypeID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.DropDownListFor(model => model.BrandID, Model.Brands, new { @class = "form-control input-lg input-md input-sm input-xs" })
                @Html.ValidationMessageFor(model => model.BrandID, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                
                <input type="submit" value="Search" id="btnSubmit" class="btn btn-primary btn-block" />
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
</div>
<br />
<p><a href="~/Item/Create">
    <input type="button" id="additem" name="additem" class="btn btn-primary btn-sm" value="Add Item" />
</a>
</p>
<div class="container-fluid">
    <div class="row">
        <table class="table table-bordered table-striped table-responsive table-sm">
            <tr>
                <td>Name</td>
                <td class="hidden-sm-down">Description</td>
                <td class="hidden-sm-down"><p>Total Qty.</p></td>
                <td class="hidden-sm-down"><p>Qty in Office</p></td>
                <td class="hidden-sm-down"><p>Qty in Laguna</p></td>
                <td colspan="3" class="hidden-md-up">Total/Office/House</td>
                <td></td>
            </tr>
            @if (@Model.Items != null) {
                foreach (var item in @Model.Items)
                {
                    <tr>
                        <td>@item.ItemName</td>
                        <td class="hidden-sm-down">@item.Description</td>
                        <td class="hidden-sm-down">@item.TotalQuantity</td>
                        <td class="hidden-sm-down">@item.OfficeQuantity</td>
                        <td class="hidden-sm-down">@item.HouseQuantity</td>
                        <td colspan="3" class="hidden-md-up">@item.TotalQuantity / @item.OfficeQuantity / @item.HouseQuantity</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }, new { @class = "btn btn-sm btn-primary" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.RecordID }, new { @class = "btn btn-sm btn-danger" })
                            @Html.ActionLink("Details", "Details", new { id = item.RecordID }, new { @class = "btn btn-sm btn-secondary" })
                        </td>
                    </tr>
                }
            }             
        </table>

    </div>

    @*
    @if (Model != null) {
        foreach (var item in @Model)
        {
            <div class="row item-container">

                <div class="col-md-5 col-lg-5 col-sm-5">
                    <img alt="Embedded Image" class="img-thumbnail" src="data:image/jpg;base64,@item.ImageBase64" />
                </div>
                <div class="col-md-7 col-lg-7 hidden-sm-down">
                    <table class="table table-responsive table-sm">
                        <tr>
                            <td>Name : </td>
                            <td>@item.ItemName</td>
                        </tr>
                        <tr>
                            <td>Description : </td>
                            <td>@item.Description</td>
                        </tr>
                        <tr>
                            <td>Total Quantity : </td>
                            <td>@item.TotalQuantity</td>
                        </tr>
                        <tr>
                            <td>Quantity in Office : </td>
                            <td>@item.OfficeQuantity</td>
                        </tr>
                        <tr>
                            <td>Quantity in Laguna : </td>
                            <td>@item.HouseQuantity</td>
                        </tr>
                        <tr>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.RecordID }, new { @class = "btn btn-sm btn-primary" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.RecordID }, new { @class = "btn btn-sm btn-danger" })
                                @Html.ActionLink("Details", "Details", new { id = item.RecordID }, new { @class = "btn btn-sm btn-secondary" })

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-7 hidden-md-up">Small View</div>
            </div>
        }
    }*@
</div>

}